
    *{
        text-align: center;
        color:rgb(1, 5, 56)
    }
    p{
        text-align: justify;
        color: rgb(13, 2, 110);
    }

    body {
        background-color: rgb(174, 203, 236);
    }

    /* Estilisação do Menu */
body, ul { margin: 0; padding: 0; }
.menu-principal ul { list-style-type: none; }
.menu-principal { text-align: center; background-color: #2c3e50; padding: 10px 0; }
.menu-principal li { display: inline-block; }

   
    